= form_for(@recipe, html: {role: 'form'}) do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2
        = pluralize(@recipe.errors.count, "error")
        prohibited this recipe from being saved:
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title,class: 'form-control'
  .form-group
    = f.label :book
    = f.text_field :book,class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content,class: 'form-control'
  .form-group
    = f.submit nil,class: 'btn btn-primary'
