= form_for(@recipe, html: {role: 'form'}) do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2.text-danger
        = t('errors.template.header',model: Recipe.model_name.human,count: @recipe.errors.count)
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li.text-danger= msg
  .form-group
    = f.label :title
    = f.text_field :title,class: 'form-control'
  .form-group
    = f.label :book
    = f.text_field :book,class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content,class: 'form-control',rows: 5
  .form-group
    = f.submit nil,class: 'btn btn-primary'
