- if flash[:notice]
  #notice.alert.alert-success= notice
%h1= t('views.recipes.actions.index.title')
= paginate @recipes
.new_action= link_to t('views.recipes.actions.new.title'), new_recipe_path
%br
.list-group
  = render @recipes
= paginate @recipes
