%h1 レシピ一覧
= paginate @recipes
.list-group
  - @recipes.each do |recipe|
    = link_to recipe,class: 'list-group-item' do
      %h4.list-group-item-heading= recipe.title
      %p.list-group-item-text= recipe.book
= paginate @recipes
%br/
= link_to 'New Recipe', new_recipe_path
