%p#notice= notice
.panel.panel-primary
  .panel-heading= @recipe.title
  .panel-body
    .label.label-primary Content
    = simple_format @recipe.content
  .panel-footer
    %span.label.label-primary Book
    = @recipe.book
= link_to 'Edit', edit_recipe_path(@recipe)
|
= link_to 'Destroy', @recipe, method: :delete, data: {confirm: 'Are you sure?'}
|
\#{link_to 'Back', recipes_path}
