%p#notice= notice
.panel.panel-primary
  .panel-heading= @recipe.title
  .panel-body
    = label(:recipe,:content,class: 'label label-primary')
    = simple_format @recipe.content
  .panel-footer
    = label(:recipe,:book,class: 'label label-primary')
    = @recipe.book
= link_to t('views.recipes.actions.edit.title'), edit_recipe_path(@recipe)
|
= link_to t('views.recipes.inputs.delete'), @recipe, method: :delete, data: {confirm: t('views.recipes.strings.delete')}
|
= link_to t('views.recipes.inputs.index'), recipes_path
